@charset "UTF-8";
*{margin:0;padding:0;box-sizing: border-box;}
#wrap{
  width:100%;
  height:1080px;
  background-color:rgb(219, 219, 219) ;
  position:relative;
}
.pc_wrap03 {
  position:absolute;
  right:50%;
  margin-right:-500px;
  z-index: 0;
  bottom:200px;
  width:970px;
  height:680px;
}
.skin03{
  position:absolute;
  z-index: 0;
}
.box03{
  position: absolute;
  z-index: 1;
}
.pc_wrap03 .box03 {
  width:747px;
  height:420px;
  background-color: #000;
  overflow:hidden;
  top:36px;
  right:30px;
}
.box03 img{
  position: absolute;
  top:0px;
  width:100%;
}

.pc_wrap03 .box03:hover img{
  animation: ani02 20s infinite;
}



@keyframes ani02 {
  0%{top:0}
  50%{top:-2046px}
  100%{top:0}
}
