@media screen and (max-width: 1440px) {
  html {
    font-size: 52.5%;
  }
  .inner {
    padding: 0 3rem;
  }
  .hero {
    max-height: 93rem;
  }
}
@media screen and (max-width: 1200px) {
  .inner {
    padding: 0 2rem;
  }
  .dep1 {
    padding: 10rem 0;
  }
  .dep1 .swiper-button-next, 
  .dep1 .swiper-button-prev {
  display: none;
  }
  .ftr_dep2 {
    padding: 2rem 10rem 2rem 2rem;
  }
  .ftr_dep2 h4 {
    width: 15rem;
  }
}
@media screen and (max-width: 999px) {
  header {
    padding-top: 2rem;
  }
  .tit_mob {
    display: block;
    width: 3.6rem;
    height: 2.5rem;
    position: relative;
    z-index: 6;
  }
  .tit_mob img {
    position: absolute;
  }
  .tit_mob img.mob_logo_wh {
    opacity: 1;
  }
  .tit_mob img.mob_logo_bl {
    opacity: 0;
  }
  .kebab_ico {
    display: block;
    width: 2.8rem;
    height: 1.8rem;
    position: relative;
    z-index: 6;
  }
  .kebab_ico span {
    display: block;
    width: 100%;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all .3s;
  }
  .kebab_ico span:nth-child(1) {
    top: 0;
  }
  .kebab_ico span:nth-child(2) {
    top: 48%;
  }
  .kebab_ico span:nth-child(1) {
    top: 98%;
  }
  header h1.tit {
    display: none;
  }
  nav {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    color: #fff;
    z-index: 5;
    transition: right .5s ease-in-out;
  }
  nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  nav ul a {
    margin-left: 0;
    font-size: 2.6rem;
  }

  /* scrolling */
  body.scrolling .tit_mob img.mob_logo_bl {
    opacity: 1;
  }
  body.scrolling .tit_mob img.mob_logo_wh {
    opacity: 0;
  }
  body.scrolling .kebab_ico span {
    background-color: #000;
  }
  body.scrolling nav ul a {
    color: #fff;
  }

  /* mob nav */
  body.mobNav nav {
    right: 0;
  }
  body.mobNav .tit_mob img.mob_logo_bl {
    opacity: 0;
  }
  body.mobNav .tit_mob img.mob_logo_wh {
    opacity: 1;
  }
  body.mobNav .kebab_ico span {
    background-color: #fff;
  }
  body.mobNav .kebab_ico span:nth-child(1) {
    top: 48%;
    transform: rotate(45deg);
  }
  body.mobNav .kebab_ico span:nth-child(2) {
    opacity: 0;
    transform: translateX(100%)
  }
  body.mobNav .kebab_ico span:nth-child(3) {
    top: 48%;
    transform: rotate(-45deg);
  }
  /* .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .swiper-wrapper .swiper-slide + .swiper-slide {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .ranking_img_wrap img {
    width: 100%;
  } */
  .rate_img {
    right: 14rem;
  }
  .ftr_dep1_list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 799px) {
  html {
    font-size: 62.5%;
  }
  /* common */
  .inner {
    padding: 0 1.5rem;
  }
  .list_tit {
    max-width: 30rem;
    margin: auto;
    font-size: 2.5rem;
  }
  .list_cont {
    font-size: 1.8rem;
  }
  a.btn {
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
  }

  /* hero */
  .hero .inner {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hero_tit {
    padding-top: 11.2rem;
    font-size: 4.5rem;
    line-height: 3.2rem;
  }
  /* dep1 */
  .dep1 {
    padding: 10rem 0 0 0;
  }
  .swiper-slide >* {
    display: block;
    width: 23rem;
    margin: auto;
  }
  .rate_img {
    right: calc(50% - 10rem);
  }

  /* dep2 */
  .dep2 {
    /* position: relative; */
    padding: 0;
    width: 100%;
    height: 100rem;
    background: url(../img/dep2_mob1.png) no-repeat top 5rem center/cover;
  }
  .dep2 .tit_wrap {
    display: none;
  }
  .dep2 .inner {
    display: flex;
  }
  .dep2 a.btn {
    /* position: absolute; */
    align-self: flex-end;
  }

  /* dep3 */
  .dep3_list {
    justify-content: center;
  }
  .dep3_list li {
    width: 32.4rem;
    margin: 1rem;
  }
  .dep3_card_tit {
    font-size: 1.5rem;
  }
  .ftr_dep1 {
    display: none;
  }
  .ftr_dep2 {
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 5rem;
  }
  .ftr_list {
    margin: 4rem 0 2rem;
  }
}
