@charset "utf-8";

.sec01 {
	background-color: #888
}

.sec02 {
	background-color: rgb(100, 43, 146)
}

.sec03 {
	background-color: #666
}

.sec04 {
	background-color: #555
}

.sec05 {
	background-color: #444
}

.sec06 {
	background-color: rgb(177, 176, 176)
}

.sec07 {
	background-color: rgb(119, 119, 119)
}

.sec08 {
	background-color: #aaa
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	border: 1px solid #fff;
}





#navIcon {
	width: 60px;
	height: 45px;
	position: fixed;
	z-index: 12;
	right: 35px;
	top: 35px;
	cursor: pointer;
}

#navIcon span {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 0;
	opacity: .4;
	transition: all .25s ease-in-out;
	transform: rotate(0deg);
	/* border-radius: 5px; */
}

#navIcon span:nth-child(1) {
	top: 0;
}

#navIcon span:nth-child(2) {
	top: 16px;
}

#navIcon span:nth-child(3) {
	top: 32px;
}


#navIcon.open span:nth-child(1) {
	top: 16px;
	opacity: 1;
	transform: rotate(135deg);
}

#navIcon.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#navIcon.open span:nth-child(3) {
	top: 16px;
	opacity: 1;
	transform: rotate(-135deg);
}

.sideNav {
	position: fixed;
	z-index: 5;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.329);
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	visibility: hidden;
	opacity: .3;
	transition-property: visibility, top, opacity, background-color, height, width;
	transition-duration: 0s, 0.2s, 0.3s, 0.1s, 0.8s, 0.8s;
	transition-delay: 0s, 0s, 0s, 0.25s, 0.25s, 0.25s;
	transition-timing-function: linear, ease-out, linear, linear, cubic-bezier(1.000, -0.130, 0.000, 0.810), cubic-bezier(1.000, -0.130, 0.000, 0.810);

}




/* .sideNav li.active a{
	color:red;
} */

#fp-nav {
	z-index: 5;
}

.sideNav.full {
	visibility: visible;
	background-color: #000;
	width: 3000px;
	height: 3000px;
	z-index: 11;
	opacity: 1;
}

.sideNav ul {
	margin-top: 43%;
	margin-bottom: 50px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;

}

.sideNav ul li {
	opacity: 0;
	transform: translateY(20px);
	transition: 0.4s;
}

.sideNav ul li a {
	color: #666;
	font-size: 30px;
}

.sideNav.full ul li:nth-child(1) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: .9s;
}

.sideNav.full ul li:nth-child(2) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1s;
}

.sideNav.full ul li:nth-child(3) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.1s;
}

.sideNav.full ul li:nth-child(4) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.2s;
}

.sideNav.full ul li:nth-child(5) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.3s;
}

.sideNav.full ul li:nth-child(6) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.4s;
}

.sideNav.full ul li:nth-child(7) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.5s;
}

.sideNav.full ul li:nth-child(8) {
	opacity: 1;
	transform: translateY(-20px);
	transition-delay: 1.6s;
}

.slider_inner {
	width: 800px;
	height: 600px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: #fff;
}

.sl01 .slider_inner {
	background-color: darkblue;
}

.sl02 .slider_inner {
	background-color: rgb(0, 139, 93);
}

.sl03 .slider_inner {
	background-color: rgb(139, 107, 0);
}

.sl04 .slider_inner {
	background-color: rgb(139, 0, 97);
}

.sec03 .fp-controlArrow.fp-prev {
	left: calc(50% - 400px);
}

.sec03 .fp-controlArrow.fp-next {
	right: calc(50% - 400px);
}

.inner {
	max-width: 1440px;
	height: 100%;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 150px;
	font-family: 'Italianno', cursive;
	text-transform: capitalize;
	color: #fff;
	opacity: 0;
	transform: translateX(-300px);
	transition: all 0.3s ease-in-out;
	transition-delay: 1s;
}

.section.active h1 {
	opacity: 1;
	transform: translateX(0%);

}


.sec04 h1 {
	transform: rotate(180deg);

}

.sec04.section.active h1 {
	transform: rotate(0deg);
}


.circle {
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.199);
	opacity: 0;
}

.circle:after {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	width: 100%;
	height: 100%;
	border: 1px solid blueviolet;
	border-radius: 50%;
	;
}


.sec01 .circle {
	left: 50%;
	top: 50%;

}

.sec02 .circle {
	opacity: 1;
	left: 60%;
	top: 60%;
	width: 150px;
	height: 150px;
	background-color: transparent;
	border: 1px solid #fff;
	z-index: 1;


}

.sec02 .circle::before {
	content: "";
	position: absolute;
	opacity: 1;
	left: calc(50% - 5px);
	top: -5px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;

}

.sec02 .circle:after {
	border: 1px solid rgba(241, 229, 124, 0.473);
	left: -3px;
	top: -3px;
	z-index: 0;
}

.sec02 h1 {
	transform: none;
	display: flex;
	text-transform: none;
}

.sec02.section.active h1 {
	transform: none;

}

/* .sec02 h1 span {} */